/* Reset */
* {
  font-family: Arial, Helvetica, sans-serif;
}


body {
  margin: 0;
  padding: 0;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh; 
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 80%;
  background: #69239E ;
opacity: 0.5;
  z-index: -1;
}

.main-container{
}


/* Navbar */
header {
  background-color: #fff;
  padding: 20px;
  display: 100px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 97.2%;
  opacity: 0.9;
 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  flex: 0.1;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover preenchimento padrão */
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.contact-us {
  margin-left: 20px;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

button:hover {
  opacity: 0.7;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.image-container img {
  margin-top: 150px;
  width: 325px;
  height: 400px;
}

.image-container p {
  margin-top: 20px;
  font-size: 20px;
}

.button-container {
display: flex;
justify-content: center;
margin: 20px;
margin-bottom: 300px;
}

.button-container button {
border: none;
outline: 0;
padding: 0px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
font-size: 20px;
width: 200px;
height: 60px;
margin: 0 5px;
}


.button-container button:hover {
  opacity: 0.7;
}

/* Estilo para o h1 "Choose an option" */
h1 {
  color: #ffffff; /* Cor branca */
}


footer {
  background-color: black;
  color: white;
  padding: 20px;
  margin-right: -30px;
}

.footer-bg {
  display: flex;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  flex: 1;
  margin-top: 40px;
    padding: 40px;
    margin-left: 20px;
}

.footer-right h2 {
  font-size: 16px; /* ajuste o tamanho da fonte conforme necessário para dispositivos móveis */
  margin-top: 10px; /* adicione um espaço superior para separá-lo do parágrafo anterior */
}


@media (max-width: 768px) {
  .footer-left p {
    font-size: 14px; /* Defina o tamanho do texto desejado */
  }
}
.footer-copyright {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.footer-copyright p {
  margin: 0px;
}
i {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

@media (max-width: 768px) {
  .footer-bg {
    flex-direction: column;
    align-items: center;
  }

  .footer-left,
  .footer-right {
    flex: none;
    width: 100%;
    padding: 20px; /* ajuste conforme necessário */
    text-align: center; /* centralize o conteúdo */
  }

  .social-media-icons {
    flex-direction: row;
    margin-top: 20px; /* adicione um espaço entre os ícones e o texto */
  }
}