/* Reset */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Adicionado para incluir padding e border no tamanho total do elemento */
}

/* Body */
body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Alterado para cobrir toda a tela */
  background-position: center;
  min-height: 100vh;
}

/* Navbar */
header {
  background-color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 0.1;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.contact-us {
  margin-left: 20px;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

button:hover {
  opacity: 0.7;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.image-container img {
  margin-top: 20px;
  width: 325px;
  height: 400px;
}

.image-container h1 {
  color: #ffffff;
  margin-top: 10px;
  font-size: 24px; /* Aumentado para uma melhor legibilidade */
}

.button-container {
  display: flex;
  flex-direction: column; /* Alterado para exibir botões um abaixo do outro */
  justify-content: center;
  align-items: center; /* Centraliza os botões */
  margin: 20px;
}

.button-container button {
  border: none;
  outline: 0;
  padding: 12px; /* Ajustado para manter o mesmo espaçamento em dispositivos móveis */
  margin: 10px 0; /* Adicionado espaço entre os botões */
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
}

.button-container button:hover {
  opacity: 0.7;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  padding: 20px;
}

.footer-bg {
  display: flex;
  flex-wrap: wrap; /* Adicionado para evitar que os elementos ultrapassem o contêiner */
  justify-content: space-between;
  align-items: flex-start; /* Alinha os itens no topo */
}

.footer-left,
.footer-right {
  flex: 1;
  padding: 0 20px; /* Adicionado espaçamento horizontal */
  margin-bottom: 20px; /* Adicionado espaço entre os elementos */
}

.footer-left h1 {
  font-size: 24px; /* Aumentado para uma melhor legibilidade */
}

.footer-left p {
  font-size: 16px; /* Aumentado para uma melhor legibilidade */
}

.footer-right p {
  margin-bottom: 10px; /* Adicionado espaço entre as informações de contato */
}

@media (max-width: 768px) {
  .image-container img {
    width: calc(325px + 10%); /* Aumenta em 10% em dispositivos móveis */
    height: calc(400px + 10%); /* Aumenta em 10% em dispositivos móveis */
  }
}
