* {
  font-family: Arial, Helvetica, sans-serif;
}
  

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-color: #000;
  background-size: cover;
  background-position: center;
  position:static;
  min-height: 80vh; 
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: #69239E ;
  opacity: 0.5;
  z-index: -1;
  margin: 0;
  padding: 0;
  }

/* Navbar */
header {
  background-color: #fff;
  padding: 20px;
  display: 100px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 97.2%;
  opacity: 0.9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  flex: 0.1;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover preenchimento padrão */
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.contact-us {
  margin-left: 20px;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

button:hover {
  opacity: 0.7;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  margin-right: -30px;
}

.footer-bg {
  display: flex;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  flex: 1;
  margin-top: 40px;
    padding: 40px;
    margin-left: 20px;
}

.footer-right h2 {
  font-size: 16px; /* ajuste o tamanho da fonte conforme necessário para dispositivos móveis */
  margin-top: 10px; /* adicione um espaço superior para separá-lo do parágrafo anterior */
}


@media (max-width: 768px) {
  .footer-left p {
    font-size: 14px; /* Defina o tamanho do texto desejado */
  }
}
.footer-copyright {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.footer-copyright p {
  margin: 0px;
}
i {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

@media (max-width: 768px) {
  .footer-bg {
    flex-direction: column;
    align-items: center;
  }

  .footer-left,
  .footer-right {
    flex: none;
    width: 100%;
    padding: 20px; /* ajuste conforme necessário */
    text-align: center; /* centralize o conteúdo */
  }

  .social-media-icons {
    flex-direction: row;
    margin-top: 20px; /* adicione um espaço entre os ícones e o texto */
  }
}