/* Reset */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #69239E ;

}

/* Navbar */
header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97.2%;
  opacity: 0.9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  flex: 0.1;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover preenchimento padrão */
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.contact-us {
  margin-left: 20px;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

button:hover {
  opacity: 0.7;
}

.main-container {
  position: relative;
  min-height: 100vh; /* Para garantir que o conteúdo ocupe toda a altura da tela */
  background-image: url(../img/background.jpg);
  opacity: 0.9;/* Cor de fundo do corpo */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o contêiner */
}

.main-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #69239E;
  opacity: 0.5;
  z-index: -1;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.image-container img {
  margin-top: 20px;
  width: 325px;
  height: auto; /* Mantém a proporção original da imagem */
}

.image-container p {
  margin-top: 10px;
  font-size: 20px;
  color: #ffffff; /* Cor do texto */
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button-container button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  width: 200px;
  height: 60px;
  margin: 0 5px;
}

.button-container button:hover {
  opacity: 0.7;
}

/* Estilo para o h1 "Choose an option" */
h1 {
  color: #ffffff; /* Cor branca */
}


footer {
  background-color: black;
  color: white;
  padding: 0px;
}

.footer-bg {
  display: flex;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  flex: 1;
  padding: 100px;
}

.footer-left h1 {
  margin-top: 0;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social-media-icons a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.social-media-icons a:last-child {
  margin-right: 0;
}

.footer-copyright {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.footer-copyright p {
  margin: 0px;
}
i {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
@media (max-width: 650px) {
  .image-container {
    width: 100%;
    margin-bottom: 50px;
  }

  .image-container img {
    width: 100%;
    max-width: 100%;
  }

  .button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-container button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  footer {
    font-size: 9px;
  }
}
